.footer {
    margin: 150px 0 0 0;
    border-top: 1px solid #000000;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .img-logo {
    width: 200px;
}

.footer .img-logo img {
    width: 100%;
}
.footer .footer-nav {
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.footer .footer-nav a{
    font-size: 12px;
    color: #000000;
    opacity: .5;
}
.footer .footer-nav .catalog li:nth-of-type(1){
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 10px 0;
}
.footer .footer-nav .contact li:nth-of-type(1){
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 10px 0;
}