body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

.bannerAll.off-banner {
    display: none;
}
main {
    padding: 99px 0 0 0;
}
body .container {
    width: 1425px;
    margin: 0 auto;
}

.bannerAll h1 {
    font-weight: 700;
    font-size: 56px;
}

ul li {
    list-style: none;
    cursor: pointer;
}

ul li a {
    text-decoration: none;
    color: #000000;
}

.btn-price {
    background: #27b5f9;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    width: 60px;
    padding: 5px;
    border-radius: 3px;
    position: absolute;
    bottom: -15px;
}

.aboutCompany {
    text-align: center;
    margin: 0 0 150px 0;
}

.aboutCompany p {
    width: 75%;
    margin: 10px auto 10px auto;
    line-height: 25px;
    font-size: 14px;
}

.content.in .wrap-internal-card .container {
    display: flex;
    align-items: center;
}

.filter .brand {
    width: 150px;
    margin: 0 20px 0 20px;
}


/*card item*/
.content.in .blocks-internal-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content.in .blocks-internal-card {
    height: auto;
}
.content.in .wrap-internal-card .internal-card-item .btn-price {
    opacity: 1;
    transition-delay: .1s;
    bottom: 20px;
    right: 20px;
}
.content.in .internal-card-item:hover {
    padding: 20px 15px;
}
.content.in .internal-card-item .description {
    height: 54px;
}
.content.in .flag {
    color: #ffffff;
    padding: 5px;
    font-size: 13px;
    background: burlywood;
    left: 0;
    top: 300px;
    height: 13px;
    position: absolute;
}
/*card item*/

@media (max-width: 1367px) {
    body .container {
        width: 1300px;
    }
    .wrap-menOrShe .men {
        width: 100%;
    }
    .wrap-menOrShe .men img{
        width: 100%;
    }
    .wrap-menOrShe .she {
        width: 100%;
    }
    .wrap-menOrShe .she img{
        width: 100%;
    }
    .content.in img {
        width: 100%;
    }
}